.purchase{
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 25px;
    flex-wrap: wrap;
    margin-left: 1em;
}

.purchase__title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container-fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-purchase{
    border: 1px solid #aaac;
    display: flex;
    flex-direction: column;
}

.card-purchase-body{
    display: flex;
    flex-direction: column;
}

.card-purchase__item{
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.ard-purchase__quantity{
    border: 1px solid #aaac;
    padding: 10px;
    margin-bottom: 10px;
}

.card-purchase__price::before{
    content: '$';
    margin-right: 3px;
}