.purchase{
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 25px;
    flex-wrap: wrap;
}

.purchase__title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container-fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-purchase{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

.card-purchase-body{
    display: flex;
    flex-direction: column;
}

.card-purchase__item{
    display: flex;
    flex-direction: row;
    gap: 5em;
}





.card-purchase__price{
    contain: '$';
}